.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  color: red;
}

/* ----------- Homepage ----------- */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 5%;
  font-size: calc(35px + 4vmin);
  color: white;
}

.UIC-Header {
  padding: 5%
}


/* login button size */
.MuiButton-containedSizeLarge{
  font-size: 1.1rem !important;
}

/* ----------- Form Page ----------- */

.meeting-event {
  padding: 5%;
}

#outlined-helperText {
  width: 75%;
}

.text-area {
  margin-top: 10%;
  width: 75%
}

.contact-info {
  padding: 5%;
}
